body {
    display: flex;
    justify-content: center;
    background-color: #5d73ca;
}

.card-header {
    background-color: #213446;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}